<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1 class="title-header">JWT Authentication</h1>
            <h2 class="subtitle-header">Use inputs below to generate/use JWT token</h2>
        </div>
    </div>
</div>